.App {
  text-align: center;
}

.appHeader {
  height: 50px;
  width: 100vw;
  background: #AB2A19;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.appLogo {
  color: white;
  margin-left: 40px;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 100px;
}

.column1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.column2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}